html, body{margin:0; padding:0}
body{font-family:Arial, Sans; font-size:1em; background-color: #f7f7f7;}
#wrapper{max-width:640px;margin:0 auto; color:#333; background: #fff;}
#iw{margin: 0 2em; padding: 0 0 2em 0}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
header h1{text-align:center; margin:0; border-bottom: 6px solid #333; padding: .4em 0 0; overflow: hidden}
header h1 a{color: #333; font-size: 50pt; font-size:3.5vw; text-transform: uppercase; text-decoration:none}
nav{margin: 1em 0 4em 0}
a{color: #000}
a:hover{color: #000}
a:visited{color: #333}
.red{color:#ef2929}
.tech em a{color:silver; text-decoration:none}
div.bb{margin-left:1em;border-bottom:1px solid silver}
h2{margin:0.8em 0; border-bottom: 2px solid #000}
li{margin: 0 0 0.4em 0}
.tag a:hover{color:#333; cursor:pointer;}
@media print {
  body{width:auto;margin:0;}
  a{text-decoration:none;color:#000}
}
#card{text-align:center; border-top: 1px dashed #cecece;border-bottom: 1px dashed #cecece; margin: 1em 0; padding: 2em 0;}
#card h1{margin:0; padding:0}
.sym{font-size:2em; color: #cecece; text-align:center; margin: 1em 0 0;font-weight: bold;}
.sym span:hover{text-shadow:0 0 0.2em #EF2929, 0 0 0.2em #EF2929; cursor:pointer;}
.project img{background-color:#f7f7f7; padding: 12px}
.author{text-align:right}
.author a{color:#cecece; text-decoration:none}
.ar{text-align:right}
.project-image{max-width: 100%}
