html, body{margin:0; padding:0}
body{font-family:Arial, Sans; font-size:1em; background-color: #f7f7f7;}
#wrapper{max-width:640px;margin:0 auto; color:#333; background: #fff;}
#iw{margin: 0 2em; padding: 0 0 2em 0;}
.one-edge-shadow {box-shadow: 0 8px 6px -6px black;}
header h1{text-align:center; margin:0; border-bottom: 6px solid #333; padding: .4em 0 0; overflow: hidden}
header h1 a{color: #333; text-transform: uppercase; text-decoration:none; font-size: 10vw;}
@media screen and (min-width: 640px) {
  header h1 a{font-size: 2.1em}
}
nav{margin: 1em 0 2em}
a{color: #000}
a:hover{color: #000}
a:visited{color: #333}
.red{color:#ef2929}
.tech em a{color:silver; text-decoration:none}
div.bb{margin-left:1em;border-bottom:1px solid silver}
h2{margin:0.8em 0; border-bottom: 2px solid #000}
li{margin: 0 0 0.4em 0}
.tag a:hover{color:#333; cursor:pointer;}
@media print {
  body{width:auto;margin:0;}
  a{text-decoration:none;color:#000}
}
#card{text-align:center; border-top: 1px dashed #cecece;border-bottom: 1px dashed #cecece; margin: 1em 0; padding: 2em 0;}
#card h1{margin:0 0 .4em ; padding:0}
.sym{font-size:2em; color: #cecece; text-align:center; margin: 1em 0 0;font-weight: bold;}
.sym span:hover{text-shadow:0 0 0.2em #EF2929, 0 0 0.2em #EF2929; cursor:pointer;}
.author{text-align:right}
.author a{color:#cecece; text-decoration:none}
.ar{text-align:right}
.project img{max-width: 100%}
.project-image{max-width: 100%}
.PageNavigation {font-size: 14px;  display: block;  width: auto;  overflow: hidden;}
.PageNavigation a {  display: block;  width: 50%;  float: left;  margin: 1em 0;}
.PageNavigation .next {  text-align: right;}
.bio:before{content: "\01F65E"; margin-right: .4em;}
.bio:after{content: "\01F65C"; margin-left: .4em;}
.cloud {text-align: center; line-height: 1.8em;}
.cloud a{text-decoration: none;}
.cloud a:hover{text-decoration: underline}
