{{ define "main" }}
  <div class="h-card" id="card">
    <h1 class="p-name">Evgeniy Vasilev</h1>
    <em class="bio p-note">fighting entropy since 1980</em>
    <p><a class="u-url" href="https://www.avtobiografia.com/">www.avtobiografia.com</a></p>
  </div>

  <p>You can check my <a href="cv.html">Curriculum vitae</a>.</p>

  <p>More about me also here:
    <a rel="me" href="https://github.com/aquilax">GitHub</a>,
    <a rel="me" href="https://linkedin.com/in/aquilax">LinkedIn</a>,
    <a rel="me" href="https://www.goodreads.com/user/show/2821810-evgeniy-vasilev">GoodReads</a>,
    <a rel="me" href="https://keybase.io/aquilax">Keybase</a>,
    <a rel="me" href="https://wakatime.com/@aquilax">WakaTime</a>,
    <a rel="me" href="https://www.last.fm/user/aquilax">LastFM</a>,
    <a rel="me" href="https://about.me/aquilax">About.me</a>,
    <a rel="me" href="https://twitter.com/aquilax">Twitter</a>,
    <a rel="me" href="https://mastodon.cloud/@aquilax">Mastodon</a>
    <a rel="me" href="/life-stack.html">Life Stack</a>
    <a rel="me" href="/uses.html">Uses</a>
    <a rel="me" href="/now.html">Now</a>
  </p>

  <main id="projects">
    <h2>Latest Projects</h2>
    <ul>
      {{ range first 20 (where .Site.RegularPages "Type" "project").ByPublishDate.Reverse }}
        {{ .Render "summary" }}
      {{ end }}
    </ul>
    <p class="ar"><a href="/project.html">More projects…</a></p>
  </main>
{{ end }}
