---
layout: default
---
<nav itemprop="breadcrumb">
  <a href="/">Home</a> &raquo;
  <a href="/projects.html">Projects</a> &raquo;
  {{ page.title }}
</nav>

<h2>{{ page.title }}</h2>
{% if page.tags != empty %}<p class="tech">Technologies used: <em>{% for tag in page.tags %} <span class="tag" rel="tag"><a href="/tag/{{ tag }}">{{ tag }}</a></span> {% endfor %}</em></p>{% endif %}

{% if page.images != empty%}{% for image in page.images %}<img class="project-image" src="/img/{{ image }}">{% endfor %}{% endif %}
<div class="project">
{{ content }}
</div>
