---
layout: default
---
<nav itemprop="breadcrumb">
  <a href="/">Home</a> &raquo;
  <a href="/projects.html">Projects</a> &raquo;
  {{ page.title }}
</nav>

<article class="h-entry">
  <h2 class="p-name">{{ page.title }}</h2>
  {% if page.tags != empty %}<p class="tech">Technologies used: <em>{% for tag in page.tags %} <span class="tag" rel="tag"><a href="/tag/{{ tag }}">{{ tag }}</a></span> {% endfor %}</em></p>{% endif %}

  {% if page.images != empty%}{% for image in page.images %}<img class="project-image" src="/img/{{ image }}">{% endfor %}{% endif %}
  <div class="project e-content">
  {{ content }}
  </div>
  <a class="u-url" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    Published <time class="dt-published">{{ page.date | date: "%Y-%m-%d" }}</time>
  </a>
</article>
<hr/>
<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
